/* Home */
.home {
  background: 
    url('../../../assets/img/img-2.png') center/cover no-repeat,
    linear-gradient(90deg, #E6CCD4 62%, #000000 100%);
  padding: 10% 5rem;
}
.home a {
  background: #000000;
  border-radius: 3rem;
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 1.7rem;
}

/* About me */
.about-me {
  background: url('../../../assets/img/img-4.jpg') center/cover no-repeat;
  padding: 0 7rem 0 5rem;
}
.about-me .description { 
  padding: 6rem 0; 
}
.about-me .divider-md { 
  margin-top: 1.1rem; 
}
.about-me .line-heigth-1 { 
  margin: 2.5rem 10rem 0 0; 
}
.about-me .f-size-1 { 
  margin: 1rem 14rem 0 0; 
}
.about-me .card-1 {
  border-radius: 0 0 1.5rem 1.5rem;
  margin-left: 4rem;
  z-index: 10;
}
.about-me .card-1 img { 
  padding-top: 3rem; 
}
.about-me .card-2 {
  margin-right: 4rem;
  bottom: 8rem;
}
.about-me .card-2 img {
  border-radius: 1.5rem;
  height: 22rem;
}
.about-me .card-1, .card-2 {
  height: 22rem;
  position: relative;
}

/* Skills and interests */
.skills-and-interests {
  background: #B07184;
  background: linear-gradient(0deg, #B07184 0%, #432F4A 49%, #000000 100%);
  padding: 8rem 5rem 6rem 5rem;
}
.skills-and-interests .skills-buttons {
  background: #B07184 !important;
  border-radius: 2rem;
  color: #FFFFFF !important;
  font-size: 1rem;
  margin-right: 2.5rem;
  padding: 0.4rem 2rem;
  transition: 0.5s;
}
.skills-and-interests .skills-buttons:hover {
  background: #FFFFFF !important;
  color: #B07184 !important;
  transition: 0.5s;
}
.skills-and-interests .divider-xl { margin-top: 1.1rem; }
.skills-and-interests .description { padding-top: 3rem; }
.skills-and-interests .image { margin: 2.5rem 7rem 0 0.5rem; }
.skills-and-interests .image img {
  height: 27rem;
  width: 30rem;
}
.skills-and-interests .description .left-auto { margin-top: 2.4rem; }
.skills-and-interests .description h2 {
  margin-bottom: 1rem;
  text-shadow: #DD6783 0.1em 0.1em 0.2em;
}
.skills-and-interests .text-1 { margin-bottom: 1rem; }

/* Experience */

/* Other screen sizes */
@media screen and (max-width: 1300px) {

  /* About me */
  .about-me .description { padding: 5rem 0; }

  /* Skills and interests */
  .skills-and-interests .divider-xl { margin-left: 5%; }
  .skills-and-interests .description .image { margin: 2.5rem 4rem 0 0; }
  .skills-and-interests .description .left-auto { margin-top: 1.4rem; }
  
}
@media screen and (max-width: 1200px) {

  /* About me */
  .about-me { flex-direction: column; height: auto !important; }
  .about-me .description { padding: 4rem 0 3rem 0; }
  .about-me .line-heigth-1, .about-me .f-size-1 { margin-right: 0; text-align: justify; }
  .about-me .left-auto { height: 37rem; margin: 0 auto; }
  .about-me .card-1 { border-radius: 1.5rem; margin-left: 10rem; }
  .about-me .card-2 { margin-right: 10rem; bottom: 13rem; }

  /* Skills and interests */
  .skills-and-interests { padding: 5rem; }
  .skills-and-interests .buttons { justify-content: center; }
  .skills-and-interests .skills-buttons { margin: 0 1rem; }
  .skills-and-interests .divider-xl { display: none; }
  .skills-and-interests .description { flex-direction: column; }
  .skills-and-interests .description .image { 
    display: flex;
    justify-content: center;
    margin: 0.5rem 0; 
  }
  .skills-and-interests .description .image img { margin: 0 auto; }

}
@media screen and (max-width: 730px) {

  /* Home */
  .home { padding: 3rem 1.5rem; }
  .home h1 { font-size: 2.8rem; }
  .home h2 { font-size: 2.3rem; }
  .home h6 { font-size: 1rem; margin-top: 0.4rem; }
  .home a { font-size: 0.9rem; padding: 1.3rem 1.5rem; }

  /* About me */
  .about-me { padding: 0 1.5rem; }
  .about-me .description { padding: 3.8rem 0 3rem 0; }
  .about-me h3 { font-size: 2.4rem; }
  .about-me .divider-md { height: 0.1rem; margin-top: 0.7rem; width: 5rem; }
  .about-me .f-size-1 { font-size: 1.1rem; }
  .about-me .left-auto { height: 26rem; }
  .about-me .card-1, .card-2, .about-me .card-2 img { height: 15rem; }
  .about-me .card-1 { margin-left: 3rem; }
  .about-me .card-2 { bottom: 8rem; margin-right: 3rem; }
  .about-me .w-18 { width: 11rem; }

  /* Skills and interests */
  .skills-and-interests { padding: 3rem 1.5rem; }
  .skills-and-interests .skills-buttons {
    font-size: 0.8rem;
    height: 2rem;
    margin: 0 0.4rem;
    padding: 0 1.2rem;
  }
  .skills-and-interests .image img {
    height: 17rem;
    width: 20rem;
  }
  .skills-and-interests .description h2 { 
    font-size: 2.3rem; 
    margin-top: 1rem;
  }
  .skills-and-interests .text-1 { 
    font-size: 1rem; 
    line-height: 1.5rem; 
    text-align: justify;
  }
  .skills-and-interests .text-2 { 
    font-size: 0.9rem; 
    text-align: justify;
  }
}