<!-- Home -->
<div class="home pink-3 black-txt-1">
  <h1 class="f-family">Maria Joaquina</h1>
  <h2 class="f-family">Moreno Aulacio</h2>
  <h6 class="gray-txt-2 f-family">Ingeniera en Informática</h6>
  <a mat-raised-button
     href="https://www.instagram.com/riselet.ve/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="
     target="_blank">
    Contáctame
    <mat-icon fontIcon="favorite"></mat-icon>
  </a>
</div>
<!-- /Home -->

<!-- About me -->
<div class="about-me white-txt-1 display-flex">
  <div class="description">
    <h3 class="f-family">Sobre mí</h3>
    <div class="divider-md white-1"></div>
    <p class="line-heigth-1">
      ¡Hola! Mi nombre es María Joaquina Moreno Aulacio y soy Ingeniera en Informática, apasionada por el diseño y el desarrollo web.
    </p>
    <p class="line-heigth-1">
      Me formé en la Universidad Privada Dr. Rafael Belloso Chacín (URBE), Maracaibo, Estado Zulia. A lo largo de mi trayectoria como 
      desarrolladora, siempre he priorizado la promoción de la ética de trabajo con base en la responsabilidad, la honestidad y el respeto.
    </p>
    <p class="f-size-1 gray-txt-1">
      Para mí, cada línea de código es una oportunidad para tejer soluciones innovadoras, por lo que cada proyecto es un lienzo donde 
      fusiono la lógica con la creatividad, dando vida a soluciones únicas y visionarias.
    </p>
  </div>
  <div class="left-auto">
    <div class="card-1 pink-3">
      <img src="../../../assets/img/img-1.png" class="w-18" />
    </div>
    <div class="card-2">
      <img src="../../../assets/img/img-3.jpg" class="w-18" />
    </div>
  </div>
</div>
<!-- /About me -->

<!-- Skills and interests -->
<div class="skills">
  <div class="display-flex">
    <button mat-raised-button 
            class="buttons" 
            *ngFor="let item of buttons" 
            (click)="showInfo( item.link )">
      {{ item.name }}
    </button>
    <div class="divider-xl white-1 left-auto"></div>
  </div>
  <div class="display-flex description">
    <div class="image">
      <img [src]="image" />
    </div>
    <div class="left-auto">
      <h2 class="white-txt-1">{{ information }}</h2>
      <p class="line-heigth-1 white-txt-1" *ngIf="description === 1">
        1 una pquenea descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed blanditiis quas
        perferendis iste saepe, quibusdam, hic ipsum amet laudantium dicta provident voluptas est quasi quod
        consectetur itaque sint aperiam mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore consequuntur nam iste ex adipisci porro. Quam ex laboriosam optio assumenda blanditiis odio rem, 
        nemo non vitae architecto. Voluptate, dolorum sequi!
      </p>
      <p class="line-heigth-1 white-txt-1" *ngIf="description === 2">
        2 una pquenea descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed blanditiis quas
        perferendis iste saepe, quibusdam, hic ipsum amet laudantium dicta provident voluptas est quasi quod
        consectetur itaque sint aperiam mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore consequuntur nam iste ex adipisci porro. Quam ex laboriosam optio assumenda blanditiis odio rem, 
        nemo non vitae architecto. Voluptate, dolorum sequi!
      </p>
      <p class="line-heigth-1 white-txt-1" *ngIf="description === 3">
        3 una pquenea descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed blanditiis quas
        perferendis iste saepe, quibusdam, hic ipsum amet laudantium dicta provident voluptas est quasi quod
        consectetur itaque sint aperiam mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore consequuntur nam iste ex adipisci porro. Quam ex laboriosam optio assumenda blanditiis odio rem, 
        nemo non vitae architecto. Voluptate, dolorum sequi!
      </p>
      <p class="f-size-1 white-txt-1">{{ shortDescription }}</p>
    </div>
  </div>
</div>
<!-- /Skills and interests -->

<!-- Experience -->
<div class="experience pink-4 padding-xl w-100">
  <h3 class="f-family">Experiencia</h3>
  <div class="divider-md white-1"></div>
  <div class="information display-flex">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
<!-- /Experience -->