img {
  border: 2px solid #F9E4EF;
  border-radius: 50%;
  height: 3rem;
  margin: 0.8rem 1rem 0 0;
  width: 3rem;
}
a {
  font-family: 'Poppins', sans-serif;
  margin-left: 1.7rem;
}
a:hover { color: #B07184; }

/* Other screen sizes */
@media screen and (max-width: 1100px) {

  /* Navbar */
  a { display: none; }
  button { display: block !important; }

}
@media screen and (max-width: 600px) {

  .image { 
    height: 2.2rem;
    margin: 0 0.7rem 0 0; 
    width: 2.2rem;
  }
  .title { 
    font-size: 1rem;
    margin-top: 0; 
  }
}