<div class="header display-flex w-100">
  <img src="../../../assets/img/profile.jpeg">
  <span class="black-text">Ing. Maria Moreno</span>
  <div class="display-flex left-auto">
    <a class="gray-text-1 cursor-pointer" 
       *ngFor="let link of links"
       (click)="scrollToSection( link.scroll! )">
      {{ link.name }}
    </a>
    <button mat-icon-button 
            class="display-none"
            (click)="toggleDrawer()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>