<!-- Navbar -->
<mat-toolbar>
  <img src="../../../assets/img/profile.jpeg" class="image">
  <span class="title">Maria Moreno</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<!-- Wave -->
<div class="wave-style" bis_skin_checked="1">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none">
    <path d="M-2.03,7.39 C200.56,60.53 326.41,-25.10 500.22,13.28 L500.00,0.00 L-0.90,-8.37 Z"></path>
  </svg>
</div>
