<mat-drawer-container>
  <mat-drawer #drawer class="drawer">
    <app-side-nav></app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="white">
      <app-header class="w-100"></app-header>
    </mat-toolbar>
    <div class="wave-style" bis_skin_checked="1">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M-2.03,7.39 C200.56,60.53 326.41,-25.10 500.22,13.28 L500.00,0.00 L-0.90,-8.37 Z"></path>
      </svg>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>