.drawer {
  width: 15rem;
}
mat-toolbar {
  padding: 0 3.5rem;
}
.wave-style {
  height: 150px; 
  overflow: hidden; 
  position: absolute; 
  z-index: 10000; 
}
.wave-style svg {
  height: 100%;
}
.wave-style path {
  fill: #FFFFFF;
  stroke: none;
}

/* Other screen sizes */
@media screen and (max-width: 600px) {

  mat-toolbar {
    padding: 0 1.5rem;
  }
  .wave-style {
    display: none;
  }

}